* {
  padding: 0;
  margin: 0;
  font-family: 'Salsa', cursive;
}
#welcome {
  width: 100%;
  height: 100vh;
  background-image: url(../img/food-and-spoons.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}
#welcome h1 {
  font-size: 55px;
  margin-top: 2em;
}
.buttons {
  padding-top: 10em;
}
.logIn,
.signUp {
  background-color: teal;
  width: 90%;
  margin-top: 1em;
  font-size: 18px;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

#signUp {
  text-align: center;
  background-color: #EAEAEA;
  color: teal;
  padding: 0;
  height: 100vh;
}
.account {
  background-color: teal;
  color: #eaeaea;
}
.btnSignUp {
  margin-bottom: 1em;
}

/*Queries*/
@media (min-width: 992px) {
  #welcome h1 {
    margin-top: 1em;
  }
  .buttons {
    margin-top: 15em;
  }
}

/*navbar search html*/
@media screen and (max-width: 768px) {
  .side-collapse-container{
    width:100%;
    position:relative;
    right:0;
    transition:right .5s;
  }
  .side-collapse-container.out{
    right:200px;
  }
  .side-collapse {
    top:50px;
    bottom:0;
    right:0;
    width:200px;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
  }
  .side-collapse.in {
    width:0;
  }
}

.navbar-color{
  background-color: teal;
}

.navbar-inverse{
  z-index: 2;
}